# Database connection string (MySQL/MariaDB)
# Example: mysql://user:password@localhost:3306/db_name
DATABASE_URL="mysql://root:password@127.0.0.1:3306/hospital"

# Vapi Web SDK Public Key (found in Vapi Dashboard -> Account/Settings)
NEXT_PUBLIC_VAPI_PUBLIC_KEY="your-vapi-public-key-here"

# Vapi Assistant ID (found in Vapi Dashboard -> Assistants)
NEXT_PUBLIC_VAPI_ASSISTANT_ID="your-vapi-assistant-id-here"


NEXT_PUBLIC_WEBSITE_URL = "your-web-url"